extends layout

block content
  h1= title 
  p 
  div(class="container-fluid")
        div(class="row")
            -
                let Icecream = [
                    {
                        "brand": "Masquati",
                        "flavour": "Chocolate" ,
                        "cost": 30
                    },
                    {
                        "brand": "Magnum",
                        "flavour": "Strawberry" ,
                        "cost": 25
                    },
                    {
                        "brand": "Quality",
                        "flavour": "Coconut" ,
                        "cost": 40
                    },                   
                ]
            each v,index in Icecream 
                div(class="col-sm-2" ) #{v.brand}
                div(class="col-sm-2" ) #{v.flavour}
                div(class="col-sm-2" ) #{v.cost}

  